@font-face {
    font-family: "Fjalla-One";
    src: url("../fonts/FjallaOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work-Sans";
    src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
    font-family: "Work-Sans", "sans-serif";
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    font-family: 'Fjalla-One', 'sans-serif';
}

img {
    width: 100px;
}

form{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 80px;
}

fieldset{
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}


legend{
    font-weight: bold;
    font-size: 17px;
    padding: 0px 5px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

p{
    margin-bottom: 15px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #cccccc;
    border-radius: 5px;
}

textarea{
    min-height: 100%;
}

input[type='checkbox'], input[type='radio']{
    width: auto;
}

input[type='color']{
    width: 40px;
    padding: 0 5px;
}

input:invalid, select:invalid, textarea:invalid{
    border-color: red;
}

input:valid, select:valid, textarea:valid{
    border-color: green;
}

button{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

button[type='submit']:hover{
    background-color: green;
    color: white;
}

button[type='reset']:hover{
    background-color: orange;
    color: white;
}

small{
    display: inline-block;
    margin-bottom: 20px;
}

#phoneNumber{
    margin-bottom: 0;
}

#photo{
    margin-bottom: 0;
}